# Отбрасываем виртуальное окружение
venv/
env/

# Скрываем секреты
.env

# Отбрасываем кэш и базу данных при сборке
__pycache__/
*.pyc
chroma_db/
temp/

# Отбрасываем систему контроля версий
.git/
.gitignore
